@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #212121;
    --second-bg-color: #323232;
    --text-color: #fff;
    --main-color: #ff0000;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

.contact h2{
    margin-top: -28px;
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width: 600px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.input-box .input-field{
    width: 100%;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    margin: 5px 0;
}

.field.error .item{
    box-shadow: 0 0 10px var(--main-color);
}

.field .error-txt{
    font-size: 14.5px;
    color: #ff0000;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}


.field.error .error-txt{
    display: block;
}

form .textarea-field .item{
    resize: none;
    height: 28vh;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}

form button{
    padding: 12px 32px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--main-color);
    margin-top: 15px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

form button:hover{
    box-shadow: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    font-weight: bold;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--main-color);
    margin-left: 4rem;
    transition: .3s;
    font-weight: bold;
}

.navbar a:hover, .navbar a.active{
    color: var(--text-color);
    background: var(--main-color);
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: bold;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

span{
    color: var(--main-color);
    text-shadow: 0 0 0.4rem var(--main-color);
}


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #ff1313;
    border-radius: 6px;
}


::-webkit-scrollbar-thumb:hover {
    background: #810707;
}



@media(max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }
}

@media(max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .contact{
        flex-direction: column;
    }
}


@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }
}


@media(max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}


@media(max-width: 655px){
    .contact h2{
        font-size: 3rem;
    }

    form button{
        padding: 8px 24px;
        border-radius: 5px;
        box-shadow: 0 0 7px var(--main-color);
        margin-top: 8px;
        font-size: 16px;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    form .textarea-field .item{
        height: 25vh;
    }

    .field .item{
        width: 100%;
        padding: 14px;
        font-size: 15px;
    }
}

@media(max-width: 633px){
    .field .item{
        width: 90%;
    }
    .field .error-txt{
        text-align: center;
    }
}

@media(max-width: 564px){
    .field .item{
        width: 80%;
    }
}

@media(max-width: 510px){
    .field .item{
        width: 75%;
    }
}

@media(max-width: 475px){
    .field .item{
        width: 70%;
    }
    form button{
        width: 70%; 
    }
}

@media(max-width: 450px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 441px){
    .field .item{
        width: 65%;
    }
    form button{
        width: 65%; 
    }
}

@media(max-width: 411px){
    .field .item{
        width: 60%;
    }
    form button{
        width: 60%; 
    }
}

@media(max-width: 380px){
    .field .item{
        width: 55%;
    }
    form button{
        width: 55%; 
    }
    form .textarea-field .item{
        height: 35vh;
    }
}

@media(max-width: 353px){
    .field .item{
        width: 50%;
    }
    form button{
        width: 50%; 
    }
}
