@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #212121;
    min-height: 100vh;
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
    color: #FF0000;
    font-size: 1rem;
    font-weight: bold;
}
a{
    padding: 6px 15px;
}

a1{
    color: #FF0000;
}

.navbar a.active, a.text:hover{
    background: #FF0000;
    color: #f9f9f9;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 15px;
    border-radius: 20px;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* dropdown menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}

.card{
    background: #33333379;
    width: 320px;
    height: 320px;
    margin: 20px;
    border: 2px solid #FF0000;
    border-radius: 25px;
    box-shadow: 0 0 25px #FF0000;
}

.card:hover{
    box-shadow: 0 10px 35px #FF0000;
    transform: scale(1.02);
}

.card h2{
    color: #FF0000;
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
    text-decoration: underline;

}

.card p{
    color: #FF0000;
    font-size: 15px;
    line-height: 1.8;
    margin-left: 20px;
    margin-right: 20px;
}

.card a{
    background: #FF0000;
    font-size: 17px;
    color: black;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;
    transition: .2s linear;
    margin-top: 10px;
    display: block;
    text-align: center;
    margin: 30px 50px;
}
.card a:hover{
    letter-spacing: 1px;
}



@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media(max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #ff1313;
    border-radius: 6px;
}

::-webkit-scrollbar-corner {
    color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #810707;
}
